<html>
  <body>
    <h2>
      IMDB Info for Select Shows
    </h2>

    <p>
      To see series info, type in the name of one of these shows: "Game of Thrones", "Friends", "The Office", or "Breaking Bad"
    </p>

    <form action="/see_info" method="post">
      <input name="name" />
      <input type="submit" />
    </form>

  </body>
</html>
